html { font-size: 10px;}
body { font: 1.5rem Verdana, Arial, sans-serif;}
h1 {
    font-weight: normal;
    font-size: 3.6rem;
}
pre {color: green;}
.container {
    background-color: #dedede;
    padding: 10px;
    display: grid;
}
.item {
    box-sizing: border-box;
    border: 1px solid #333;
    color: #fff;
    font-size: 2em;
    text-align: center;
    padding: 10px;
}

.i1 { background-color: #89f9dc; }
.i2 { background-color: #59e9c4; }
.i3 { background-color: #00b9b3; }
.i4 { background-color: #178b9a; }
.i5 { background-color: #446b61; }
.i6 { background-color: #539887; }
.i7 { background-color: #539a98; }
.i8 { background-color: #30929f; }

.c6 {grid-template-columns: repeat(2, minmax(200px, 1fr)) 1fr;}

.c1 {grid-template-columns: repeat(4 , 100px)  
}
.c2 {grid-template-columns: repeat(2 , 1fr )

}
.c3 {grid-template-columns: repeat(3 , 100px , 1fr )
}
.c4 {grid-template-columns: repeat(3 , minmax(100px, 1fr) )
}
.c5 {grid-template-columns: repeat(3 , 100px) repeat (3, 1fr) 
}           