html {
    font-size: 10px;
}
body {
    font: 1.5rem Verdana, Arial, sans-serif;
}
.container {
    background-color: #dedede;
    padding: 10px;
    display: flex;
    margin: 10px;
}
.item {
    border: solid 1px #333;
    width: 60px;
    padding: 10px;
}
.i1 { background-color: powderblue; }
.i2 { background-color: orange; }
.i3 { background-color: gold; }

.c1 { justify-content: flex-start; }

.c2 { justify-content: flex-end; }
.c3 { justify-content: center; }
.c4 { justify-content: space-between; }
.c5 { justify-content: space-around; } 
.c6 { justify-content: space-evenly; }      
.c7 { 
    flex-direction: column;
    justify-content: space-between; 
    height: 300px;
}

